<a href="https://colab.research.google.com/github/Akshata-211/FDS_Journal/blob/main/Practical_Number_7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
df=pd.read_csv('stats.csv')

In [1]:
df

NameError: ignored

In [ ]:
Measure of Central Tendancy

In [2]:
# Mean Salary
mean1=df['Salary'].mean()
mean1

NameError: ignored

In [3]:
#Sum of Salaries
sum1=df['Salary'].sum()
sum1

NameError: ignored

In [4]:
#Maximum Salary
max1=df['Salary'].max()
max1

NameError: ignored

In [5]:
#Minimum Salary
min1=df['Salary'].min()
min1

NameError: ignored

In [6]:
32000
#Total count

count1=df['Salary'].count()
count1

NameError: ignored

In [7]:
#Median
median=df['Salary'].median()
median

NameError: ignored

In [8]:
#Mode
mode1=df['Salary'].mode()
mode1

NameError: ignored

In [9]:
countrywise_sum=df.groupby(['Country'])['Salary'].sum()
countrywise_sum

NameError: ignored

In [10]:
#variance of salaries
var1=df['Salary'].var()
var1

NameError: ignored

In [11]:
#standard deviation
std1=df['Salary'].std()
std1

NameError: ignored

In [12]:
skew1=df.skew(axis=0, skipna=True)
skew1

NameError: ignored

In [13]:
df.describe()

NameError: ignored